.meetingsCard {
  background-color: var(--color-card-gray);
  padding: 0 4px;
  border-radius: 10px;
  box-shadow: 0 1px 3px var(--color-shadow);
}
.onGoingTag {
  background-color: var(--color-primary);
  color: var(--color-text-white);
  padding: 4px;
  font-size: 12px;
  border-radius: 5px;
}
.meetingsCard > h3 {
  text-align: center;
}
