.statsCard {
  background-color: var(--color-primary);
  padding: 0 2px;
  border-radius: 10px;
  box-shadow: 0 1px 3px var(--color-shadow);
  color: var(--color-text-white);
}

.statsCard > p {
  text-align: center;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.stats > div {
  text-align: center;
  flex: 1;
}
.stats > div:not(:last-of-type) {
  text-align: center;
  margin-right: 1px;
}
.stats > div > span {
  font-size: 4rem;
  font-weight: bold;
  color: var(--color-text-white);
}

@media (max-width: 700px) {
  .stats > div > span {
    font-size: 3rem;
  }
}
