.spin {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  background-color: var(--color-shadow);
  z-index: 9999;
}

.spinContent {
  background-color: var(--color-card);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 1px 6px var(--color-shadow);
  z-index: 100001;
  font-size: 1rem;
}

.spinner {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 0.8rem;
  margin-bottom: 1.2rem;
}
.spinner:after {
  content: " ";
  display: block;
  width: 34px;
  height: 34px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--color-primary);
  border-color: var(--color-primary) transparent var(--color-primary)
    transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
